<!doctype html>
<html>
	<head>
		<title>Groceries App</title>
		<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
	</head>
	<body>
		<div class="container_nav">
			<a href="/items/new">Add New Item</a><br/>
			<a href="/items">Home</a>
		</div>