<!doctype html>
<html>
	<head>
		<title>Groceries App</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize5.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/custom_grid.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	</head>
	<body>
		<div class="container_nav">
			<a href="/items/new">Add New Item</a><br/>
			<a href="/items">Home</a>
		</div>