.home_route .title {
	text-align: center;
}




.new_route .title {
	text-align: center;
}

.new_route input {
	width: 100%;
}

.new_route select {
	width: 100%;
}




.edit_route .title {
	text-align: center;
}

.edit_route input {
	width: 100%;
}

.edit_route select {
	width: 100%;
}

