<% include ../partials/header %>

	<div class="container_main new_route">

		<div class="grid">
  			<div class="col-100">
  				<div class="module title">
  					<h1>Add New Item</h1>
  				</div>
  			</div>
  		</div>
		
  		<div class="grid">
  			<div class="col-100">
  				<div class="module title">
					<form action="/items" method="POST">
						<input type="text" name="item[name]" placeholder="name" />
						<select name="item[type]">
							<option value="single">single</option>
							<option value="carton">carton</option>
							<option value="packet">packet</option>
							<option value="can">can</option>
						</select>
						<input type="number" name="item[quantity]" placeholder="quantity" />
						<input type="number" name="item[threshold]" placeholder="threshold" />
						<input type="submit" value="submit" />
					</form>
				</div>
			</div>
		</div>

	</div>

<% include ../partials/footer %>